*{
    margin: 0;
    padding: 0;
}
.navBarCadastro{
    padding-top: 1.4rem;
    list-style: none;
    border: groove;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
font-weight: bold;
text-shadow: blue;
box-shadow: blue;
backdrop-filter: blur(#f9a629);
:hover{
    background-color: #FBE407;
}
}

body{
    background-color:#f9a629;
    color: #fff;
    background-image: url("./naruto\ time\ 7\ iruka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: #0000;
}

.form{
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 22px;
   text-shadow:#FBE407;
   color: black;
   font-weight: bold;
   background-position: center;
   background-color: transparent;
   text-shadow: #0000;  
   font-size: 20px;
   border: none;
}
#msgInput{
    color: #fff;
    backdrop-filter: blur(40px);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    font-weight: bolder;
}
.input{
    gap: 10rem;
    display: flex;
    flex-direction: column;
    width:500px;
    justify-content: center;
    align-items: center;
}
label{
    font-weight: bold;
    margin-bottom: 2rem;

}