*{
    margin: 0;
    padding: 0;
}
.navBarCadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body{
    background-image: url("./naruto\ time\ 7\ iruka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: #0000;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 22px;
   text-shadow:#FBE407;
   color: white;
   font-weight: bold;
   background-position: center;
   background-color: transparent;
   text-shadow: #0000;  
   font-size: 20px;
   border: none;
}
#msgInput{
    backdrop-filter: blur(40px);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    font-weight: bolder;
}
.input{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10rem;
}